.navbar {
  background: #772eff;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    margin-right: auto;
  }
  li {
    display: inline-block;
    margin: 0 0 0 16px;
    cursor: pointer;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
